div#params_Wfrog
	div(class='form-group')
		label(class='col-lg-2 control-label' for='setting_Wfrog_interval') Interval
		div(class='col-lg-10')
			input(type='text' id='setting_Wfrog_interval' value='' class='form-control')
